* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: darkgoldenrod;
}

img {
    width: 100vw;
   height: 40vw;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

main {

    padding: 40px;
    width: 100vw;
}

#descricao {
    font-size: 24px;
    width: 100%;

}

ol li {
    font-size: 24px;
    color: blue;
    
}

ul li {
    color: blue;
  margin-left: 30px;
    
    
    
}

section {
    margin-left: 30px;
}

a:hover {
    text-decoration: underline;
    color: #fff;
    transition: 0.4s;
}

a {
    text-decoration: none;
    color: blue;
}
